<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geourbe - Gerenciador de Projetos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
           <a href="/projects"> <h1 class="brand">Geourbe</h1> </a>
            <ul class="nav-links">
                {{#if user}}
                    <li><a href="/projects" class="nav-link">Projetos</a></li>
                     <li><a href="/services" class="nav-link">Meus Projetos</a></li>
                    <li><a href="/projects/create" class="button-create">+ Novo Projeto</a></li>
                    <li><a href="/logout" class="nav-link">Logout</a></li>
                {{else}}
                    <li><a href="/login" class="nav-link">Login</a></li>
                    <li><a href="/register" class="nav-link">Registrar</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; 2024 Geourbe - Todos os direitos reservados</p>
    </footer>
</body>
</html>
